<div class="about-container">
  <img src="assets/profile.jpeg" alt="Profile Photo" class="profile-pic" />

  <h1>About Me</h1>
  <p>
    Hi, I'm Saifullah Hakro.
    Senior Software Engineer by profession but Computer Scientist (Problem Solver) at heart and nature. Currently, I am working in Fintech Domain specially Internet Banking, Financial Mobile Apps and Remittance Processing Systems.
  </p>

  <ul class="links">
    <li><a href="https://medium.com/@saifullahhakro" target="_blank">📖 Medium</a></li>
    <li><a href="https://techblogwithsaif.com" target="_blank">🌐 Personal Blog</a></li>
    <li><a href="https://www.linkedin.com/in/saifullah-lutufullah/" target="_blank">💼 LinkedIn</a></li>
  </ul>
</div>
